@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

body {
  width: 100vw;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  background: linear-gradient(
    180deg,
    rgba(255, 251, 235, 1) 0%,
    rgba(255, 255, 255, 1) 90%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#layout {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1360px) {
  body {
    background-color: white;
  }
  #layout {
    width: 1000px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  #layout {
    width: calc(100% - 40px);
  }
}

#buyShadow {
  box-shadow: 0px 25px 50px -12px rgba(255, 255, 255, 0.25);
}

#mockupShadow {
  box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
}

#videoCardShadow {
  box-shadow: 0px 25px 20px -5px rgba(0, 0, 0, 0.1);
}
